<script src="https://d3js.org/d3.v5.js"></script>

<link rel="stylesheet" href="styles/menu.css">
<ul class="menu cf">
    <li><a href="/">Home</a></li>
    <li><a href="search">Search</a> </li>
    <li><a href="update">Update</a></li>
    <li><a href="team">Teams</a></li>
    <li><a href="Country">Countries</a></li>
	<li><a href="database">Database</a></li>
	<li><a href="report">Report</a></li>
    <li><a href="match">Match</a></li>
    <li><a href="player">Player</a></li>
    <li><a href="league">league</a></li>
    <% if (!user) { %>
        <li><a href="login">Login</a></li>
    <% } %>
    <% if (user) { %>
        <li><a href="manager"><%= user.first_name %></a></li>
        <li><a href="logout">logout</a></li>
    <% } %>
    
</ul>