<ul class="menu cf">
    <li><a href="/">Home</a></li>
    <li><a href="search">Search</a> </li>
    <li><a href="update">Update</a></li>
    <li><a href="insert">Insert</a></li>
	<li><a href="database">Database</a></li>
	<li><a href="report">Report</a></li>
    <li><a href="procedures">Procedures</a></li>
</ul>